<div class="row member">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="infiniteWrap: false;">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><i class="sui-angle-left"></i></button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span><i class="sui-angle-right"></i></button>

            <li class="is-active orbit-slide">
                <div class="small-12 columns member-row">
                    <div class="row small-up-1 medium-up-2 large-up-4">
                {{#each members as |member name|}}
                        <div class="column">
                            <div class="card">
                                <div class="card__container">
                                    <img class="card__thumbnail" src="assets/img/members/{{member.photo}}" alt="{{name - member.position}}">

                                    <div class="card__overlay">
                                        <div class="menu-centered member-links">
                                            <ul class="menu">
                                                {{#each member.social as |link social|}}
                                                <li class="social-link">
                                                    <a href="{{link}}"><i
                                                        class="sui-{{social}}"></i></a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center member-info">
                                    <h3>{{name}}</h3>
                                    <p>{{member.position}}</p>
                                </div>
                            </div>
                        </div>

                {{/each}}
                    </div>
                </div>
            </li>

            <li class=" orbit-slide">
                <div class="small-12 columns member-row">
                    <div class="row small-up-1 medium-up-2 large-up-4">
                        {{#each members as |member name|}}
                        <div class="column">
                            <div class="card">
                                <div class="card__container">
                                    <img class="card__thumbnail" src="assets/img/members/{{member.photo}}" alt="{{name - member.position}}">

                                    <div class="card__overlay">
                                        <div class="menu-centered member-links">
                                            <ul class="menu">
                                                {{#each member.social as |link social|}}
                                                <li class="social-link">
                                                    <a href="{{link}}"><i
                                                            class="sui-{{social}}"></i></a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center member-info">
                                    <h3>{{name}}</h3>
                                    <p>{{member.position}}</p>
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>