<div class="top-bar">
    <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
        <strong class="logo">
            <a href="/">Startup</a>
        </strong>
    </div>
    <div id="responsive-menu">
        <div class="top-bar-right">
            <ul class="dropdown vertical medium-horizontal menu" data-magellan>
                {{#each menu.menu as |link name|}}
                <li><a href="#{{link}}">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>