.member{
  margin-top: 50px;
  .orbit-previous, .orbit-next{
    padding: rem-calc(11) rem-calc(6);
    background: rgba(10, 10, 10, 0.3);
    &:hover, &:focus{
      background: $alert-color;
    }
  }
  .orbit-previous{
    left: 15px;
  }
  .orbit-next{
    right: 15px;
  }
  &-row{
    float: none !important;
  }
  &-links{
    @include vertical-align;
    top: 82%;
  }
  &-info{
    margin-top: 20px;
    p{
      font-size: rem-calc(12);
    }
  }
}
.members-carousel{
  margin-top: 50px;
  .carousel-cell{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    @include breakpoint(small) {
      width: 100%;
    }
    @include breakpoint(medium) {
      width: 50%;
    }
    @include breakpoint(large) {
      width: 25%;
    }
    .card__container{
      max-width: 255px;
      margin: auto;
    }
  }
}